@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #ffffff !important; /* принудительно светлый фон */
    color: #171717 !important; /* текст черный */
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display";
  font-weight: 700;
}

body {
  background: var(--background) !important;
  color: var(--foreground) !important;
}

body,
p,
span,
li,
a,
input,
textarea,
button {
  font-family: "Lora";
  font-weight: 500;
}
