@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Great Vibes";
  font-weight: 400;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Great Vibes", cursive;
}

/* body,
p,
span,
li,
a,
input,
textarea,
button {
  font-family: "Montserrat", sans-serif;
} */
