@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display";
  font-weight: 700;
}

body {
  background: var(--background);
  color: var(--foreground);
}

body,
p,
span,
li,
a,
input,
textarea,
button {
  font-family: "Lora";
  font-weight: 500;
}
